<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#">DashBoard</a>
                <% if (userType == 'employer') { %>
                    <a href="#">Jobs</a>
                    <a href="#">Candidates</a>
                    <a href="#">Approval</a>
                    <a href="#">Reports</a>
                    <% } %>
                <% if (userType == 'candidate') { %>
                    <hr>
                    <a href="#">Resume</a>
                    <a href="#">Interview</a>
                    <a href="#">Offer</a>
                    <hr>
                    <a href="#">Applied Jobs</a>
                    <a href="#">Map Jobs</a>
                    <a href="#">Live Jobs</a>
                    <% } %>
                    <hr>
                    <a href="#">Help Desk</a>
                    <a href="#">Tutorial</a>
                    <a href="#">Feedback</a>
                </div>
              <button class="openbtn" onclick="openNav()">☰</button>
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">All Jobs</a>
            </li>
            <% if (userType == 'candidate') { %>
                <li class="main-header__item">
                    <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Live Jobs</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Accepted Jobs</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/rejected">Rejected Jobs</a>
                </li>
                <% } %>
                <% if (userType == 'employer') { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin/addjob' ? 'active' : '' %>" href="/admin/addjob">Add Jobs
                        </a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Jobs
                        </a>
                    </li>
                    
                    <% } %>
                </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/selectSignup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">All Jobs</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Live Jobs</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Accepted Jobs</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Rejected Jobs</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Jobs
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Jobs
                </a>
            </li>
        <% } %>
        <% if (!isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>