<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %> 
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <div>
                                <h1 class="product__title">
                                    <%= p.productId.title %>
                                </h1>
                                <p class="product__description">Description:
                                    <%= p.productId.description %>
                                </p>
                                <h3 class="product__price">Stipend: $ 
                                    <%= p.productId.price %>/month
                                </h3>
                                <p class="product__description" style="margin: 0; display: inline;">Status: 
                                  <b style="color:rgb(0, 255, 98);margin: 0; display: inline;"><%= p.productId.status %></b>  
                                </p>
                            </div>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Reject Offer</button>
                            </form>
                        </li>
                        <hr>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Jobs is Accepted!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>