<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <div class="card__content">
                            <h1 class="product__title">
                                <%= product.title %>
                            </h1>
                            <p class="product__description">Location:
                                <%= product.location %>
                            </p>
                            <p class="product__description">Description:
                                <%= product.description %>
                            </p>
                            <h3 class="product__price">Stipend: $ 
                                <%= product.price %>/month
                            </h3>
                            <p class="product__description">Status: 
                                <%= product.status %>
                            </p>
                            <p class="product__description">PostedAt:
                                <%= product.date %>
                            </p>
                        </div>
                        <div class="card__actions">
                            <% if (userType == 'candidate') { %>
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %> 
            </div>
            <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>No Jobs Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>